/* style.css */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700 */

.dancing-script-unique-class {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}
#player1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#game-text {
    background: -webkit-linear-gradient(hsl(0, 59%, 40%), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.new-game button {
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.new-game button:hover {
    background: linear-gradient(135deg, rgb(50, 161, 180), rgb(213, 108, 59));
    color: white;
    transform: scale(1.1);
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.box {
    width: 80px;
    height: 80px;
    background-color: rgb(247, 238, 139);
    border: 2px solid rgb(122, 117, 117);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(142, 42, 42);
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.box:hover {
    background-color: rgb(149, 186, 17);
    transform: scale(1.1);
   
}

/* Responsive sizes for larger screens */
@media (min-width: 768px) {
    .box {
        width: 120px;
        height: 120px;
        font-size: 3em;
    }
}
